:root {
  --heading-font: "Ramaraja", serif;
  --body-font: "Noto Sans", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 44px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  text-align: center;
}
p {
  font-family: var(--body-font);
}

img {
  width: 100%;
  border-radius: 20px;
}

.introduction-homepage {
  text-align: center;
  padding: 150px;
  background: linear-gradient(
    90deg,
    rgba(255, 243, 159, 1) 40%,
    rgba(167, 159, 255, 1) 100%
  );
}

.introduction {
  text-align: center;
  padding: 60px;
  background: linear-gradient(
    90deg,
    rgba(255, 243, 159, 1) 40%,
    rgba(167, 159, 255, 1) 100%
  );
}

.navbar-nav {
  margin-left: auto;
}
