:root {
  --heading-font: "Ramaraja", serif;
  --body-font: "Noto Sans", sans-serif;
}

h1 {
  font-weight: bold;
  font-size: 44px;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--heading-font);
  text-align: center;
}
p {
  font-family: var(--body-font);
}

img {
  width: 100%;
  border-radius: 20px;
}

footer {
  font-size: 10px;
}

@media (max-width: 900px) {
  home-content {
    margin: 30px;
  }
  introduction-homepage {
    margin: 0px;
    padding: 0px;
    text-align: center;
  }
  about-content {
    text-align: center;
    padding: 2px;
  }
}

.contact-me-list {
  list-style-type: none;
  text-align: center;
  padding: 40px;
}
.contact {
  padding: 40px;
}

.introduction-homepage {
  text-align: center;
  padding: 150px;
  background: linear-gradient(
    90deg,
    rgba(255, 243, 159, 1) 40%,
    rgba(167, 159, 255, 1) 100%
  );
}

.introduction {
  text-align: center;
  padding: 60px;
  background: linear-gradient(
    90deg,
    rgba(255, 243, 159, 1) 40%,
    rgba(167, 159, 255, 1) 100%
  );
}

.navbar-nav {
  margin-left: auto;
}

.image-me {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 20px;
  max-width: 500px;
}

.certificate {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 0%;
  max-width: 500px;
}

.image-code {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 0%;
  max-width: 300px;
}

.icon {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  border-radius: 0%;
  max-width: 70px;
}
